/1_SQL/practical-sql-main/
.DS_Store
node_modules/
package-lock.json
npm-debug.log
.prettierrc.js
get-programming-with-nodejs-master
/1_1_SQL_source_code_and_additinal_files/
/6_Java/New Folder/IGBooks/nbproject/private/
/6_Java/New Folder/IGBooks/build/
