body {
    font-family: sans-serif;
}

#instructions {
    background-color: pink;
    padding: 6px;
    margin: 6px;
}

#orderForm {
    width: 75%;
    margin: 20px auto;
}

#receipt {
    background-color: #996600;
    color: yellow;
    padding: 6px;
}