<div class="col-sm-10" >
  <h1>Welcome!</h1>
  <img src="images/cooking.jpeg" alt="">
</div>

<div class="col-sm-10">
  <br>
  <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
  <p> If you want to see a new course, click <u><a href="/courses">the courses page</a></u> and explore!</p>
  <p> When you see a course you like you can <u><a href="/contact">contact us to join!</a></u></p>
  <p>Soon you'll be cooking in your own home!</p>
</div>